body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  max-width: 200px;
  margin: 10px auto;
  background-color: #c6c6c6;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.centered.male {
  background-color: skyblue;
}

.centered.female {
  background-color: pink;
}
